:root {
    /* Light Theme - Primary Colors */
    --lavender-web: rgb(225, 227, 239);
    --mint-green: rgb(255, 255, 255);
    --tea-green: rgba(216, 253, 227);
    --tea-green-2: rgba(196, 244, 199);
    --cambridge-blue: rgba(155, 178, 145);

    /* Dark Theme Alternatives */
    --lavender-web-dark: #3a2f47;
    --mint-green-dark: #1a4d45;
    --tea-green-dark: #1f4d2e;
    --tea-green-2-dark: #2d4a30;
    --cambridge-blue-dark: #4a5a41;

    /* Semantic Color Assignments */
    --primary-color: #f7f8fc;
    --primary-dark-color: var(--lavender-web-dark);

    --secondary-color: var(--mint-green);
    --secondary-dark-color: var(--mint-green-dark);

    --accent-color: var(--tea-green);
    --accent-dark-color: var(--tea-green-dark);

    --accent-alt-color: var(--tea-green-2);
    --accent-alt-dark-color: var(--tea-green-2-dark);

    --neutral-color: var(--cambridge-blue);
    --neutral-dark-color: var(--cambridge-blue-dark);

    /* Sizes */
    --border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tuffy', sans-serif;
    font-size: 16px;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

#root {
    height: 100%;
}